/* css layout */
.site-main{
    width: 90%;
    margin: 1rem auto;
    height: auto;
    /* background-color: black; */

}
.site-main-container{
     display: flex;
     justify-content: space-between;

}

.site-main-container .site-sidebar-container{
    /* background-color: yellow; */
     width: 200px;
     margin-top: 1%;
  
}

.site-main-container .site-prog-content-container{
    /* background-color: lightcyan; */
    width: 80%;
  
}
/* css layout ends here */

/* css sidebar */
.navigations-ul .logo-container{
    background-color: white;
    border-radius: 0;
    width: 5rem;
    height: 5rem;
    margin:  0 auto;
}
.navigations-ul .logo-container img{
    width: 100%;
}
.navigations-ul{
    list-style-type: none;
    padding: 0.5rem;
}
    .navigations-ul li{
        margin-bottom: 1rem;
        background-color: rgb(52, 52, 135);
        padding: 0.5rem;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;


    }
        .navigations-ul li a{
            display: inline-block;
            width: 100%;
            color: white;
        }

/* css open menu button */
.site-prog-content-container{
    display: flex;
    flex-direction: column;
}
.flex-child1{
    align-self: center;
    display: none;
}
.r-button{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
}
.flex-child1 span{
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.drop-down-menu{
    width: 100%;
    height: 50vh;
    background-color: rgb(52, 52, 135);
    display: none;
}

.visible{
   display: block !important;
   
}
/*  css content and paragraph */
.content-paragraph{
    line-height: 2rem;
    margin-bottom: 0.5rem;
}
.special-tag{
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-indent: 2rem;
}
.content-title-level1{
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid  rgb(52, 52, 135);
  font-size:2rem ;
}
.content-title-level2{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size:1.5rem ;
}
ul{
    list-style-type: none;
    /* text-indent: 2rem; */
}
ul li{
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.5rem;
   
}
ul li .list--highligt{
    display: block;
    margin-bottom: 0.5rem;
    /* font-weight: bold; */
    /* font-size: 1rem; */
   color:  rgb(30, 30, 187);
   
  
}

ul li div{
   margin-left: 0.5rem;
}


.imp--word{
    display: inline;
    color: rgba(226, 46, 46, 0.941);
    /* font-weight: bold; */
    /* font-size: 1rem; */
    /* font-weight: normal; */
    /* font-style: italic; */
}

/* fakta ruta */

.fakta-ruta-box{
    width: 80%;
    background-color:orange;
    padding: 1rem;
    margin: 0 auto;
    border: 1px solid  rgb(52, 52, 135);
}
.fakta-ruta-title{
    border-bottom: 1px solid rgb(52,52,135);
    display: block;
}
/* css pre next buttons */
.pre-next{
    display: flex;
    justify-content: space-between;
}
    .pre-next button{
        width: 15%;
        padding: 0.5rem;
        border: none;
        background-color: #c9c5c542;
       
        font-size: 1rem;
        cursor: pointer;
    }
    .pre-next button:hover{
        border: 1px solid rgb(52, 52, 135) ;
    }
        .pre-next button span{
           
            
            color: black;
            font-size: 1rem;
           
        }
/* css prev next buttons */

/* css pre next buttons Icons */

.fa-circle-chevron-left, .fa-circle-chevron-right{
    color: red;
}
/* site images */

.image-container{
    width: 100%;
    /* height: 100%; */
    /* background-color: yellow; */
}
    .image-container img{
        width: 100%;
        height: auto;
    }

/* site images */
        @media (max-width: 700px) {
            .site-main-container .site-sidebar-container{
              display: none;
            }
            .site-main-container .site-prog-content-container{
                width: 100%;
               
            }
            .flex-child1{
                display: block;
                cursor: pointer;
            }
 
          }

          .fakta-ruta-box{
            width: 100%;
        }


          @media (min-width: 701px) {
           .flex-child1 {
                display: none !important;
                
            }

            .drop-down-menu{
                display: none !important;
                
            }
            
    }



    /* 
    media query mobile
   list main med line height dala
    
    */

    /*  Media query for next and pre buttons */
     @media (max-width: 1066px){
        
        .pre-next button{
            width: 15%;
            font-size: 0.8rem;
            
        }

     }
          @media (max-width: 853px){
        
        .pre-next {
            justify-content: space-around;
            
        }
          .pre-next button{
            width: 18%;
            font-size: 0.8rem;
            
        }

     }

     @media (max-width: 739px){
        
        .pre-next {
            justify-content: center;
            
        }
          .pre-next button{
            width: 20%;
            font-size: 0.8rem;
            margin-right: 2%;
            
        }

     }

     @media (max-width: 487px){
        .content-title-level1{
            font-size: 1.5rem;
        }
        .content-title-level2{
            font-size: 1.2rem;
        }
     }

     @media (max-width: 1130px){

        .pre-next button{
           display: flex;
           flex-direction: column;
           align-items: center;
        }
     }

         @media (max-width: 487px){
        
        .pre-next {
            flex-direction: column;
            align-items: center;
            
        }
          .pre-next button{
            width: 100%;
            font-size: 0.8rem;
            margin-bottom: 2%;
            display: flex;
          
        }
    }