@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
}
body{
    display: flex;
    justify-content: center;
}
div.wrapper{
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}


/* css for header */
.site-main-header{
    display: flex;
    flex-direction: column;
    
}
.site-main-header .flex-header-child1{
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
  
    background-color: #f1ecec42;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
   width: 100%;

   
}

.site-main-title{
    color: black;
      font-weight: normal;
      
}
.site-main-header .change{
    font-size: 5rem;
    color: #c14e4e;
    flex-grow: 1;
   
     
}
.site-main-header .small{
    font-size: 1rem;
    color:black;
   /* align-self: flex-end;  */
   display: block;
 }

.site-main-header .flex-header-child2{

    text-align: center;
    margin-top: 1rem;
}

.site-main-header .flex-header-child2 button{

  margin-right: 1rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  
}
.site-main-header .flex-header-child2 button:hover{

    margin-right: 1rem;
    padding: 1rem;
   
    border: 1px solid rgb(52, 52, 135) ;
   
  }

/* css for header ends here */

/* css for footer */
footer.site-main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    padding: 1rem;
    /* font-size: 1.5rem; */
    /* border-top: 0.2rem solid #000000; */
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: #f1ecec42;
   
    
 }
 
 footer.site-main-footer .author-name{
     font-size: 1.2rem;
     font-style: italic;
 }
 footer.site-main-footer .author-contact a {
     display: flex;
    align-items: center;
    
 }
 footer.site-main-footer .author-contact a span {
     color: black;
     border-bottom: 1px solid rgb(52, 52, 135);
    
 }
 
 
 
 footer.site-main-footer .fa-at{
     color: red;
     font-size: 1.5rem;
     margin-right: 5px;
 }
 footer.site-main-footer p{
     color: black;
 }
 
 /* css for footer ends here */

 /* media queries for header and footer */
/* media queries */

@media (max-width:764px){
    div.grow{
        width: 100%;
        display: flex;
        flex-direction: column;
      
        padding: 0.5rem;
    } 

    .site-main-header{
       
        font-size: 1rem; 
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .site-main-header .site-main-title{
        font-size: 1.5rem;
    }
    .site-main-header .change{
        font-size: 3rem;    
    }
    .site-main-header .small{
        align-self: center; 
     }
    .logo-container{
        width: 5.5rem;
        height: 5.5rem;
        /* background-color: yellow; */
    }
    .logo-container img{
        width: 100%;
    }

    .site-main-footer{
        padding: 0.2rem;
    }

    footer.site-main-footer .author-name{
        font-size: 1rem;
    }
    footer.site-main-footer .author-contact a {
        display: flex;
       align-items: center;
       
    }
    footer.site-main-footer .author-contact a span {
        color:black;
        border-bottom: 1px solid black;
       font-size: 0.7rem;
    }
    
    
    
    footer.site-main-footer .fa-at{
        color: red;
        font-size: 1rem;
        margin-right: 5px;
    }
}

@media (max-width:539px){

     .site-main-header{
       
        font-size: 0.7rem; 
      
        flex-direction: column;
        align-items: center;
    }

    .site-main-header .flex-header-child1{
        font-size: 0.7rem; 
      
        flex-direction: column;
        align-items: center;
    }
    .site-main-header .change{
        font-size: 2rem;    
    }
    .site-main-header .small{
        align-self: center; 
     }

}

