@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
}
body{
    display: flex;
    justify-content: center;
}
div.wrapper{
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}


/* css for header */

.site-main-header{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
   
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: rgb(52, 52, 135);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.site-main-title{
    color: white;
    font-weight: normal;
}
.site-main-header .change{
    font-size: 5rem;
    color: #c14e4e;
   
}
.site-main-header .small{
    font-size: 1rem;
    color: white;
    align-self: flex-end; 
}

/* css for header ends here */

/* css for footer */
footer.site-main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
 
    padding: 1rem;
    /* font-size: 1.5rem; */
    /* border-top: 0.2rem solid #000000; */
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: rgb(52, 52, 135);
    
 }
 
 footer.site-main-footer .author-name{
     font-size: 2rem;
 }
 footer.site-main-footer .author-contact a {
     display: flex;
    align-items: center;
    
 }
 footer.site-main-footer .author-contact a span {
     color: white;
     border-bottom: 1px solid white;
    
 }
 
 
 
 footer.site-main-footer .fa-at{
     color: red;
     font-size: 1.5rem;
     margin-right: 5px;
 }
 footer.site-main-footer p{
     color: white;
 }
 
 /* css for footer ends here */

 /* media queries for header and footer */

 @media (max-width:756px){
 
    .site-main-header{
       
        font-size: 1rem; 
        flex-direction: column;
        align-items: center;
    }

    .site-main-header .change{
        font-size: 3rem;    
    }
    .site-main-header .small{
        align-self: center; 
     }
   
     .site-main-footer{
        padding: 0.3rem;
    }

    footer.site-main-footer .author-name{
        font-size: 1.5rem;
    }
    footer.site-main-footer .author-contact a {
        display: flex;
       align-items: center;
       
    }
    footer.site-main-footer .author-contact a span {
        color: white;
        border-bottom: 1px solid white;
       font-size: 0.7rem;
    }
    
    
    
    footer.site-main-footer .fa-at{
        color: red;
        font-size: 1rem;
        margin-right: 5px;
    }
}

@media (max-width:441px){

    .site-main-header{
      
       font-size: 0.7rem; 
     
       flex-direction: column;
       align-items: center;
   }

   .site-main-header .change{
       font-size: 2rem;    
   }
   .site-main-header .small{
       align-self: center; 
    }

}